{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["react", "prettier"],
  "rules": {
    "camelcase": "off",
    "import/no-cycle": "off",
    "import/named": "off",
    "class-methods-use-this": "off",
    "global-require": "off",
    "import/prefer-default-export": "off",
    "jsx-a11y/label-has-for": "off",
    "no-nested-ternary": "off",
    "prettier/prettier": [
      "error",
      {
        "printWidth": 100,
        "trailingComma": "es5",
        "singleQuote": true,
        "semi": false
      }
    ],
    "react/no-multi-comp": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "src"]
      }
    }
  }
}
